@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@media screen and (max-width: 736px) {
    header {
        background-color:rgb(190, 12, 160);
        width: 100%;
        position: fixed;
        z-index: 999;
        display: flex; 
        justify-content: space-between;
        align-items: center;
        padding: 10px 200px;

        position:relative;
        top: 0px;
        left: 8px;
    }

    
.logo{
    text-decoration: none;
    color:white;
/*   text-transform:uppercase;*/
    right:0px;
    font-weight: 150;
    font-size:1.1em;
    position:relative;
    top: 0px;
    right: -150px;
    
}


.sidemenu{
    position:fixed;
    top:100px;
    left:80px;
    height: 100%;
    width: 0px;
    background-color:rgb(68, 68, 161);
    z-index: 1;
    padding-top: 100px;
    overflow: hidden;
    transition:all 0.3s;
    
    }
    
    
    .sidemenu a {
    
    padding: 8px;
    font-size: 18px;
    color: #fff;
    display:block;
    }
    
    .sidemenu a:hover{
        transition: 0.5S;
        font-weight: 300;
        color: rgb(255, 230, 0);
        
    }
    
    .sidemenu .closebtn{
    color: white;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 32px;
    
    }

    
.main h2{
    color:rgb(68, 68, 161);
    font-size: 1.0em;
    text-transform:uppercase;
    font-weight: 100; 
    justify-content: center;
    text-align:center;
    position:relative;
    top: 80px;
    left: 20px;

}
    


.main p{
    color:rgb(68, 68, 161);
    font-size: 0.8em;
    text-transform:uppercase;
    font-weight: 150; 
    text-align:center;
    position:relative;

    align-items: center;

    top: 80px;
    left: 20px;
}



.main p1{
    color:rgb(68, 68, 161);
    font-size: 0.8em;
    text-transform:uppercase;
    font-weight: 150; 
    text-align:center;
    position:relative;

    align-items: center;

    top: 60px;
    left: 20px;
}



.image5 {

    width:25vw;
    height:25vw;
    border-radius: 10px;
   /* padding: 25px; 
    margin: 15px;
    transition: 0.7s ease;*/
    /*display: flex;
    align-items: center;*/
    
    position:relative;
    
    top: -90px;
    left: 150px;

}

.main-btn {

    color:#fff;
    background-color:rgb(68, 68, 161);
    text-decoration: none;
    font-size:0.9em;
   /* font-weight: 600;*/
   /* display: inline-block;*/
    padding:  0.0175em 5.1875em;
    letter-spacing: 0px;
    border-radius: 15px;
    margin: bottom 10px;
    transition: 0.7s ease;

    align-items: center;
    position:relative;
    top: 100px;
    left: 0px;


}


.title {
    display: flex;
    justify-content: center;
    color:rgb(68, 68, 161);
    font-size: 1.5em;
    font-weight: 300;
    position:relative;

    top: -30px;
    left: 0px;

 /*   margin-bottom: 30px;*/
}


.card {
    background-color:#fff;
    width: -25px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 35%);
    border-radius: -10px;
    padding: 25px; 
    
    margin: 15px;
    transition: 0.7s ease;   
    /* توصيت العناصر
    position:absolute;
    top: 25%;
    right: 25%;
    transform: translate(-50%,-50%);*/

    position:relative;
    top: -10px;
    left: 0px;
}




.card:hover{
    transform: scale(1.1);

}

}

/* On screens that are 600px or less, set the background color to olive 2*/
@media screen and (max-width: 738px) {
    header {
        background-color:rgb(255, 0, 0);
        width: 100%;
        position: fixed;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 200px;
    
    }     
           
   
.image5 {

    width:30vw;
    height:30vw;
    border-radius: 10px;
   /* padding: 25px; 
    margin: 15px;
    transition: 0.7s ease;
    position: relative;*/

}

   

}
/* On screens that are 600px or less, set the background color to olive 3*/

@media screen and (max-width: 980px) {
    header {
        background-color:rgb(251, 255, 0);
        width: 100%;
        position: fixed;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 200px;
    
    }
           
   
.image5 {

    width:25vw;
    height:25vw;
    border-radius: 10px;
   /* padding: 25px; 
    margin: 15px;
    transition: 0.7s ease;
    position: relative;*/

}

}

/* On screens that are 600px or less, set the background color to olive 4*/
@media screen and (max-width: 1280px) {
    header {
        background-color:rgb(68, 68, 161);
        width: 100%;
        position: fixed;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 200px;
    
    }

           
   
.image5 {

    width:25vw;
    height:25vw;
   /* padding: 25px; 
    margin: 15px;
    transition: 0.7s ease;*/
  

}


} 
/* On screens that are 600px or less, set the background color to olive 5*/

@media screen and (max-width: 1680) {
    header {
        background-color:rgb(68, 161, 73);
        width: 100%;
        position: fixed;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 200px;
    
    }

    
    .logo {
        width: 1200px;
    }

        .logo.medium {
            width: 900px;
        }
           
   
.image5 {

    width:25vw;
    height:25vw;
   /* padding: 25px; 
    margin: 15px;
    transition: 0.7s ease;*/
  

}
}