@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}



form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 350px;
    height:420px;
    background: rgba(180, 148, 243, 0.5);
    border-radius: 30px;
    box-sizing: border-box;
    padding: 10px;
    border:1px solid rgb(9, 9, 179); 
    box-shadow: 0 5px 15px rgba(1 1 1 / 55%);


}


h2{
    top: 80px;
    color: rgb(36, 36, 88);
    text-align:center;
    margin-top:9px;
    font-size: 20px;

    
}

input[type="text"],[type="password"] {
    margin-top: 60px;
    position: absolute;
    outline:none;
    border:none;
    width: 250px;
    height: 35px;
    border-bottom: 2px solid #0095ff;
    background: none;
    padding: 5px;
    color:#fff;
    font-size: 18px;
}


input[type="text"]{
    top: 160px;
    left: 50px;
    
}

input[type="password"]{
    top: 200px;
    left:50px;
    

}
 p{
    margin-top:180px;
    color:rgb(26, 26, 131);;
    font-size: 17px;

 }

 h2{
 /*   margin-top:180px; */
    color:rgb(26, 26, 131);;
    font-size: 25px;

 }
 

 button[value="login"]{
    margin-top:8px;
    position: absolute;
    top: 305px;
    left: 110px;
    width: 130px;
    height: 35px;
    background: #0077ff;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 15px;
    font-size: 20px;
 }

button:hover{
    background-color:rgb(88, 88, 207);
    transform: scale(1.1);
}

.main-btn{
    margin-top:60px;
    position: absolute;
    top: 305px;
    left: 110px;
    width: 130px;
    height: 35px;
    background: #0077ff;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 15px;
    font-size: 20px;
 }





.main-btn:hover{
    background-color:rgb(88, 88, 207);
    transform: scale(1.1);
}
