
body{
    background-color:whitesmoke;
    font-family: 'Almarai', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Tajawal', sans-serif;
  }


  #show{
    width: 70%;
    float:right;
}

#mother{
    width: 25%;
    float:right; 
    background-color:#fff;
    width: 15em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 35%);
   /* border-radius: 10px; */
    padding: 25px; 
    margin: 15px;
    border: 1px solid  black;  
}


/*--------*/


* {
    padding:    0.6;
    margin: 0;
    box-sizing:border-box;

}

#header{
    
    background-color: rgb(9, 9, 179);
    color:white;
    height:100px;
    width:100%;
    text-align: center; 
    line-height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;

    
}

  main{
        width:79%;

        float:right;
   /*     border: 1px solid rgb(216, 20, 20); */
        padding:5px;          
  }

input{
        padding:5px;
        width: 15em;
        border:2px solid rgb(9, 9, 179);
        text-align:center;
        font-size:14px;
        font-family: 'Tajawal', sans-serif;
        color:rgb(9, 9, 179);

       /* float: right;*/
}

input.id{

    padding:5px;
    width: 14em;
    background-color: rgb(185, 215, 240);
    border:2px solid rgb(9, 9, 179);
    text-align:center;
    font-size:15px;
    font-weight: bold;
    font-family: 'Tajawal', sans-serif;
    color:rgb(9, 9, 179);



}


input.id1{

    padding:5px;
    width: 14em;
   /* float:right; */
    background-color: rgb(242, 243, 166);
    border:2px solid rgb(9, 9, 179);
    text-align:center;
    font-size:10px;
    font-weight: bold;
    font-family: 'Tajawal', sans-serif;
    color:rgb(9, 9, 179);

   
}




#select{
    width: 19.9em;
    border:2px solid rgb(9, 9, 179);
   

}

#select1{
    width: 23.9em;
    border:2px solid rgb(9, 9, 179);
   

}


label{

    text-align:center;
    width: 19.8em;
   /* border:2px solid rgb(9, 9, 179);*/
    padding:5px;
    font-size:18px;
  /*  background-color:rgb(214, 209, 209); */
    color:rgb(9, 9, 179);
    border-radius: 0px;
  /* box-shadow: 0 5px 15px rgba(1 1 1 / 55%);*/
        
}


label.a1{

    text-align:center;
    width: 20em;
   /* border:2px solid rgb(9, 9, 179);*/
    padding:5px;
    font-size:18px;
  /*  background-color:rgb(214, 209, 209); */
    color:rgb(49, 17, 12);
    border-radius: 0px;
  /* box-shadow: 0 5px 15px rgba(1 1 1 / 55%);*/
        
}


label.a2{

    text-align:center;
    width: 19.8em;
   /* border:2px solid rgb(9, 9, 179);*/
    padding:5px;
    font-size:18px;
  /*  background-color:rgb(214, 209, 209); */
    color:rgb(28, 168, 0);
    border-radius: 0px;
  /* box-shadow: 0 5px 15px rgba(1 1 1 / 55%);*/
        
}


label.a3{

    text-align:center;
    width: 19.8em;
   /* border:2px solid rgb(9, 9, 179);*/
    padding:5px;
    font-size:18px;
  /*  background-color:rgb(214, 209, 209); */
    color:rgb(9, 9, 179);
    border-radius: 0px;
  /* box-shadow: 0 5px 15px rgba(1 1 1 / 55%);*/
        
}




/* صندوق */
 #d1{
    text-align:center;
     width: 20.8em;
     border:2px solid rgb(9, 9, 179);
     padding:5px;
     font-size:18px;
     background-color:rgb(214, 209, 209); 
     color:rgb(9, 9, 179);
     border-radius: 0px;
    box-shadow: 0 5px 15px rgba(1 1 1 / 55%);

} 

p{
    text-align:center;
    width: 19.8em;
   /* border:2px solid rgb(9, 9, 179);*/
    padding:5px;
    font-size:18px;
  /*  background-color:rgb(214, 209, 209); */
    color:rgb(9, 9, 179);
    border-radius: 0px;
  /* box-shadow: 0 5px 15px rgba(1 1 1 / 55%);*/
 
}

option{
    padding:5px;
    border:2px solid rgb(9, 9, 179);
    text-align:center;
    font-size:14px;
    font-family: 'Tajawal', sans-serif;
    color:rgb(9, 9, 179);

}

/*جزاء إدارة الموقع */
aside{
        text-align:center;
        width:200px;
     /*   float:left; */
        border:2px solid rgb(9, 9, 179);
        padding:10px;
        font-size:20px;
        background-color:silver;
        color:rgb(9, 9, 179);
        border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 55%);
}



h3{
    color:rgb(9, 9, 179);
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px;
    text-align:center;
}

#tbl{
   width:100%;
   font-size:16.5px;
   color :rgb(8, 8, 8)    

      
}
#tbl th{
        background-color:silver;
}

table {
   
    border: 2px solid  rgb(9, 9, 179);
    border-collapse: collapse;
    width:85%;
    text-align: center; 
    font-size:14px;


}

th,td {
    border: 1px solid  rgb(9, 9, 179);
    padding: .5rem;

    
}

tr:hover{

    background-color: aquamarine;
    color: blue;
    
    font-size: 1em;
    font-weight: 650;
    margin: 10px;
    text-align:center;


}

caption {
    font-size: 1.5rem;
    font-weight: bold;
    color:rgb(9, 9, 179);
   /* background: #fede12; */
    padding: .3rem0;
    
}

thead {
    background:rgb(19, 15, 15);
    color: #fff;

}

tbody tr:nth-child(even){
    background: #ddd;

}




@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}


header {
    background-color:rgb(68, 68, 161);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;

}

.logo{
    text-decoration: none;
    color:white;
    text-transform:uppercase;
    font-weight: 700;
    font-size:2.2em;
}

.navigation a{
    color:white;
    text-decoration: none;
    font-size:1.3em;
    font-weight:500;
    padding-left: 30px;
}

.navigation a:hover{
    text-transform:uppercase;
    font-weight: 600;
    font-size:1.5em;    
    
}

section{
    padding:100px 200px;

}

.main{
    display: flex;
    justify-content: space-between;
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items:center;
    text-align:center;
}

.main h2{
    color:rgb(68, 68, 161);
    font-size: 2.5em;
    text-transform:uppercase;
    font-weight: 800; 
    justify-content: center;
    text-align:center;

}
    
.main h3{
    color:rgb(68, 68, 161);
    font-size: 2em;
    text-transform:uppercase;
    font-weight: 800; 
    text-align:center;
}

.main p{
    color:rgb(68, 68, 161);
    font-size: 1.5em;
    text-transform:uppercase;
    font-weight: 500; 
    text-align:center;
}

body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
 
#menu{
    transition: 0.6s;
}




#mainbox{
    width: 35px;
    border: none;
    border-radius: 8px;
    /* إشارة الماوس*/
    cursor: pointer;
    margin: 8px;
    left:0px;
    color: rgb(109, 30, 30);
    font-size: 40px;
    padding: 4px;
    
}
#active {
color: white;
background-color: black;
    
}


.title {
    display: flex;
    justify-content: center;
    color:rgb(68, 68, 161);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}


.content {
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color:#fff;
    width: 48em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 35%);
    border-radius: 10px;
    padding: 25px; 
    margin: 8px;
    transition: 0.7s ease;                                                                                                                                                                   
}

.card1 {
    background-color:#fff;
    width:23em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 35%);
    border-radius: 10px;
    padding: 25px; 
    margin: 8px;
    transition: 0.7s ease;                                                                                                                                                                   
}


.icon {

    color:rgb(68, 68, 161);
    font-size: 2em;
    text-align:center;
}


.info h3{

    color:rgb(68, 68, 161);
    font-size: 1.4em;
    font-weight: 700;
    margin: 10px;
    text-align:center;

}




.projects.content {
    margin-top: 10px;
}

.projects h2{

    color:rgb(68, 68, 161);
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px;
    text-align:center;

}


.projects h3{

    color:rgb(68, 68, 161);
    font-size: 1.2em;
    font-weight: 500;
    margin: 10px;
    text-align:center;

}


.project-card {
    background-color:rgb(68, 68, 161);
    border: 3px solid rgb(49, 49, 109);
    min-height: 14em;
    width: 25em;
    overflow: hidden;
    border-radius: 10px;
    margin:20px;
    transition: 0.7s ease;

}

.project-card:hover  {
    transform: scale(1.1);
}


.project-card:hover .project-image {
    opacity: o.9;
}

.project-image img{
    width: 100%;
}

.project-info {
    padding:1em; 
    color: #fff;
  
}

.project-category {
    font-size: 3.8 em;   
    color: #fff;
    font-weight: 800;
    
}


.projects.h3 {
    color:rgb(170, 148, 73);
    font-size: 1em;
    font-weight: 700;
    margin: 10px;
    text-align:center;


}

.more-details {
    text-decoration: none;
    color:rgb(68, 68, 161);

}

.more-details:hover{
    color:rgb(68, 68, 161);
}



.main-btn{
    color:rgb(255, 255, 255);
    background-color:rgb(27, 27, 161);
    text-decoration: none;
    font-size:0.9.1em;
    font-weight: 500;
    display: inline-block;
    padding:  0.2375em 1.9875em;
    letter-spacing: 1px;
    border-radius: 18px;
    margin: bottom 40px;
    transition: 0.7s ease;
   
}



.main-btn:hover{
    background-color:rgb(88, 88, 207);
    transform: scale(1.1);
}





.main-btn5:hover{
    background-color:rgb(88, 88, 207);
    transform: scale(1.1);
}



.main-btn2{
    color:#fff;
    background-color:rgb(27, 27, 161);
    text-decoration: none;
    font-size:1.1em;
    font-weight: 500;
    display: inline-block;
    padding:  0.3375em 1.8875em;
    letter-spacing: 1px;
    border-radius: 18px;
    margin: bottom 40px;
    transition: 0.7s ease;
   
}



.main-btn2:hover{
    background-color:rgb(88, 88, 207);
    transform: scale(1.1);
}

#d1{
    text-align:center;
  /*   width:180px; */
     width: 17.8em;

     float:left;
     border:2px solid rgb(9, 9, 179);
     padding:5px;
     font-size:18px;
     background-color:rgb(9, 9, 179);
     color:rgb(9, 9, 179);
     border-radius: 20px;
    box-shadow: 0 5px 15px rgba(1 1 1 / 55%);

}

#d2{
    text-align:center;
    width: 38.8em;

     float:left;
     border:2px solid rgb(9, 9, 179);
     padding:1px;
     font-size:18px;
     background-color:whitesmoke;
     color:rgb(9, 9, 179);
     border-radius: 20px;
    box-shadow: 0 5px 15px rgba(1 1 1 / 55%);

}

#d3{
   
     font-size:23px;
     font-weight: 1000;
     color:rgb(9, 9, 179);
    
}