
body{
    
    background-color:whitesmoke;
    font-family: 'Almarai', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Tajawal', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-20%;

  }

button{
    position: relative;
    width: 245px;
    padding: 0px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 0px solid rgb(12, 12, 155);
    background: transparent;
    color:rgb(12, 12, 155);
    font-size: 1.8ex ; 
    cursor: pointer;
    overflow: hidden;
    text-transform:uppercase;

  }
  
legend{
    font-size: 2.3ex;
    font-weight: bold;
  
}

span{
    background: #e4e6f7;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index:-1; 
    transition: 0.5s;
}

button:hover span{
    width: 100%;
    background-color:rgb(92, 92, 255);
    transform: scale(1.1);
    
}


.main-btn{
    color:#fff;
    background-color:rgb(27, 27, 161);
    text-decoration: none;
    font-size:0.9em;
    font-weight: 500;
    display: inline-block;
    padding:  0.6375em 2.9875em;
    letter-spacing: 1px;
    border-radius: 18px;
    margin: bottom 40px;
    transition: 0.7s ease;
   
}


.main-btn35{
  color:#fff;
  background-color:rgb(27, 27, 161);
  text-decoration: none;
  font-size:0.9em;
  font-weight: 800;
  display: inline-block;
  padding:  0.8375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin: bottom 40px;
  transition: 0.7s ease;
  border-radius: 18px;

}


.main-btn:hover{
    background-color:rgb(88, 88, 207);
    transform: scale(1.1);
    

}

/*
#d2{
    visibility: hidden;

  } */


#mother{

  /*  position: relative;
    top: -280px;*/

    width: 15%; 
    float:right; 
    background-color:#fff;
    width: 50em;
        /* تضليل */
    box-shadow: 0 5px 25px rgba(1 1 1 / 35%);
   
    border-radius: 10px; 
    
    padding: 10px; 
    margin:300px;
    border: 2px solid rgb(9, 9, 179);
}

#d1{
       text-align:center;
     /*   width:180px; */
        width: 41.8em;

        float:left;
        border:2px solid rgb(9, 9, 179);
        padding:5px;
        font-size:18px;
        background-color:silver;
        color:rgb(9, 9, 179);
        border-radius: 20px;
       box-shadow: 0 5px 15px rgba(1 1 1 / 55%);

}


/*--------*/


* {
    
    padding:    0.6;
    margin: 0;
    box-sizing:border-box;

}
/*
#header{
    
    background-color: rgb(9, 9, 179);
    color:white;
    height:100px;
    width:100%;
    text-align: center; 
    line-height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;

    
}
*/
/*-----------*/

/* #mother{
        width:100%;
        font-size:20px;
  }*/
  
  main{
        width:79%;

        float:right;
   /*     border: 1px solid rgb(216, 20, 20); */
        padding:5px;          
  }

input{
        padding:4px;
        border:2px solid rgb(9, 9, 179);
        text-align:center;
        font-size:14px;
        font-family: 'Tajawal', sans-serif;
       /* float: right;*/
}
 
/*جزاء إدارة الموقع */
aside{
    
        text-align:center;
      /*  width:200px;*/
        width: 38.8em;
     /*   float:left; */
        border:2px solid rgb(9, 9, 179);
        padding:10px;
        font-size:20px;
        background-color:silver;
        color:rgb(9, 9, 179);
        border-radius: 10px;
        box-shadow: 0 5px 25px rgba(1 1 1 / 55%);
}

a{
  color:rgb(10, 10, 180);
  
}
